.news{
    padding:75px 0 56px;
}
.news-item{
    .news-wraper{
        padding: 22px 18px 27px 19px;
        @media(min-width:992px){
            padding-bottom:57px
        }
        margin-top:-90px;
        margin-inline:auto;
        width:85%;

        .news-date{
            font-family: $bodoni;
            font-style: italic;
            font-size:1.4rem;
            line-height:1.7rem;
            font-style: italic;
            color:$body-color;
            letter-spacing: 1px;
            margin-bottom:17px;
        }
        .news-title{
            a{
                font-family: $lato;
                font-size:1.6rem;
                line-height: 2.4rem;
                color:$body-color;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                transition: 0.4s linear;
                text-transform: uppercase;
                &:hover{
                    opacity:0.5;
                }
            }
        }
    }
}

